

<% @songs.each do |song| %>
  <div class = "song">
    <h3>
    <% if song.url? %>
      <a href = "<%= song.url %>">
    <% else %>
      <a href = "/songs/<%= song.id %>">
    <% end %>

    <%= song.song_title %></a> <small>(by: <%= song.author %>)</small></h3>
  </div>
<% end %>