<ul class="nav nav-pills" role="tablist">
        <li role="presentation"><a href="/login">Login</a></li>
        <li role="presentation" class ="active"><a href="/songs/new">Add New Song</a></li>
        <li role="presentation"><a href="/songs/">Top Ten Songs</a></li>
        <li role="presentation"><a href="/songs/">See All Songs</a></li>
      </ul>
<p>
<%if @song && @song.errors.any? %>
  <div>
    <strong>Some issues with your message, please fix them:</strong>
    <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action="/songs">

<div>
  <label>Song Title:</label>
  <input type = "text" name = "song_title" value = "<%= @song && @song.song_title %>">
</div>

<div>
  <label>Artist:</label>
  <input type = "text" name = "author" value = "<%= @song && @song.author %>">
</div>

<div>
  <label>(Optional) URL:</label>
  <input type = "text" name = "url" value = "<%= @song && @song.url %>">
</div>

<div>
  <input type = "submit" class="btn btn-primary" value = "Submit Song">

</div>

</form>