<ul class="nav nav-pills" role="tablist">
        <li role="presentation"><a href="/new">Add New Song</a></li>
        <li role="presentation"><a href="/">See All Songs</a></li>
      </ul>

<div class="well">
  <h3>
    Song: <%= @song.song_title %>
  </h3>

  <p>
    by: <%= @song.author %>
  </p>

  <p>
    <% if @song.url? %>
      <a href ='<%= @song.url %>'><%= @song.url %></a>
    <% end %>
  </p>
</div>